* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v32_231 {
  width: 100%;
  height: 1024px;
  background: rgba(138,147,180,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v32_232 {
  width: 733px;
  height: 743px;
  background: rgba(245,243,243,1);
  opacity: 1;
  position: absolute;
  top: 125px;
  left: 366px;
}
.v32_233 {
  width: 358px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 218px;
  left: 562px;
  font-family: Kaisei Decol;
  font-weight: Medium;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v32_244 {
  width: 492px;
  height: 87px;
  background: url("../images/v32_244.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 368px;
  left: 486px;
  overflow: hidden;
}
.v32_237 {
  width: 492px;
  height: 87px;
  background: rgba(137,146,180,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v32_240 {
  width: 68px;
  color: rgba(223,218,218,0.5);
  position: absolute;
  top: 26px;
  left: 20px;
  font-family: Kaisei Decol;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v32_243 {
  width: 492px;
  height: 87px;
  background: url("../images/v32_243.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 538px;
  left: 486px;
  overflow: hidden;
}
.v32_238 {
  width: 492px;
  height: 87px;
  background: rgba(52,65,114,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v32_241 {
  width: 234px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 9px;
  left: 117px;
  font-family: Kaisei Decol;
  font-weight: Medium;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
