<!DOCTYPE html><html><head><link href="https://fonts.googleapis.com/css?family=Kaisei+Decol&display=swap" rel="stylesheet" /><link href="./css/main.css" rel="stylesheet" /><title>Document</title></head><body><div class="v25_299"><div class="v25_300"></div><div class="v25_301"></div><span class="v25_302">Monthly
Summary</span><div class="v25_303"></div><div class="v25_304"></div><span class="v25_318">Generate
Reports</span><span class="v25_319">View
Insights</span><div class="v32_408"></div><div class="v38_49"><div class="v38_50"></div><div class="v38_52"></div><div class="v38_64"><div class="v38_54"></div><span class="v38_57">Exit</span></div><span class="v38_59">Current Spendings and Recommendations</span></div><span class="v68_26">This Weeks Financial Recommendations

Unnecessary Purchases: 

You can save: $# by reducing unnecessary purchases </span><span class="v68_27">This Weeks Financial Recommendations

Unnecessary Purchases:

You have saved: $# by reducing unnecessary purchases. </span><div class="v97_28"></div><div class="v97_84"><div class="v97_85"></div><span class="v97_86">Reports</span></div><div class="v97_87"><div class="v97_88"></div><span class="v97_89">Account</span></div><div class="v97_90"><div class="v97_91"></div><span class="v97_92">Manage Financials</span></div><div class="v97_93"><div class="v97_94"></div><span class="v97_95">Financial
Goals</span></div><div class="v97_96"><div class="v97_97"></div><span class="v97_98">Logout</span></div></div></body></html>